<!DOCTYPE html>
<html lang = "en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Domi Drinks">
  <meta name="author" content="Domi Drinks">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>Domi Drinks</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/style2.css" rel="stylesheet">
  <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>
  <div ng-app="domiapp" ng-controller="domictrl">
    <div class = "container" id ="total-container">
      <div class = "div-upper-bar">
        <div class = "row">
          <div class = "col-xs-6">
            <span class = "brand-title">Domidrinks</span>
          </div>
          <div class = "col-xs-6 div-total">
            <span class = "lbl-total">Total</span>
            <span class = "val-total">$ {{numberWithCommas(total)}}</span>
          </div>
        </div>
      </div>
      <div class = "panel-resumen" ng-show = "show_cart()">
        <div class = "panel-resumen-title">
          <div class = "panel-resumen-title-div">
            <a >Resumen de tu pedido</a>
          </div>
          <div class = "angle-plus-icon">
            <span class = "fa fa-shopping-cart"></span>
          </div>
        </div>
        <div class = "body-resumen" ng-repeat="item in pedido">
          <span ng-show="cant_chivas>0" class = "item-resumen"> {{cant_chivas}} botella(s) de Chivas de $120.000</span>
          <span><b>{{item.cant}}</b> {{item.item.tamanio}} de <b>{{item.item.nombre}}</b> de ${{numberWithCommas(item.item.precio)}}</span>
        </div>
      </div>
    </div>

    <div class = "container" id = "main-container">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            <div>
              <h4 class="panel-title">
                <a class="accordion-toggle">
                  Aguardiente
                </a>
              </h4>
            </div>
            <div class = "angle-down-icon">
              <span class = "fa fa-angle-down"></span>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
            <div>
              <h4 class="panel-title">
                <a class="accordion-toggle">
                  Whiskey
                </a>
              </h4>
            </div>
            <div class = "angle-down-icon">
              <span class = "fa fa-angle-down"></span>
            </div>
            <div class = "angle-cart-icon " ng-show = "getSumOfArray(getWhiskys())">
              <span class = "fa fa-shopping-cart"></span>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel-group" id = "accordion1"> 
                <div class = "panel panel-default panel-trago" ng-repeat = "item in getWhiskys()">
                  <div class = "panel-trago-title" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse-1-{{item.id}}">
                    <div class = "panel-trago-title-div">
                      <a >{{item.nombre}}</a>
                    </div>
                    <div class = "angle-plus-icon">
                      <span>+</span>
                    </div>
                    <div class = "angle-cart-icon" ng-show = "getQuantityInPedido(item.id) > 0">
                      <span class = "fa fa-shopping-cart"></span>
                    </div>
                  </div>
                  <div id="collapse-1-{{item.id}}" class="panel-collapse collapse">
                    <div class="panel-trago-body">
                      <div class = "content-trago">
                        <div class = "row">
                          <div class = "col-xs-6 licor-left">
                            <span class = "tamanio-licor">{{item.tamanio}}</span>
                            <span class = "precio-licor">${{numberWithCommas(item.precio)}}</span>
                          </div>
                          <div class = "col-xs-6 licor-right">
                            <span class = "tamanio-licor">Cantidad</span>
                            <div class="div-cantidad">
                              <input type = "submit" class="button btn-quantity btn-left" value = "&#xf104;" ng-click="decrease_cant(item.id)"></input><div class="text-quantity">{{getQuantityInPedido(item.id)}}</div><input type = "submit" class="button btn-quantity btn-right" value = "&#xf105;" ng-click="increase_cant(item.id)"></input>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
            <div>
              <h4 class="panel-title">
                <a class="accordion-toggle">
                  Ron
                </a>
              </h4>
            </div>
            <div class = "angle-down-icon">
              <span class = "fa fa-angle-down"></span>
            </div>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default panel-pedido">
          <div class="panel-heading panel-terminar-pedido" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
            <div>
              <h4 class="panel-title">
                <a class="accordion-toggle title-terminar-pedido">
                  Terminar pedido
                </a>
              </h4>
            </div>
            <div class = "angle-down-icon">
              <span class = "fa fa-angle-down"></span>
            </div>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Javascript -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
  <script src= "js/interaction.js"></script>

</body>
</html>